# SPDX-FileCopyrightText: 2024 Ledger SAS
# SPDX-FileCopyrightText: 2026 H2Lab
#
# SPDX-License-Identifier: Apache-2.0

# only CI team members are allowed to acknowledge PR
*       @camelot-os/camelot-oss-team
